.navbar-brand{
    background: no-repeat url("~/Resources/logo.jpg");
    background-size: 40px 40px;
    height: 40px;
    margin: 5px; 
    width: 40px; 
    overflow:hidden; 
    border:none;       
}

img{
    height: 40px;
    width: 40px; 
}