
<div class="row">
    <div class="col-md-8">
        <div>Billeder</div>
        <div>OmKlubber</div>
    </div>
    <div class="col-md-4">News</div>


</div>
<div class="row">Kontakt Infomationer</div>

