@using System.Runtime.InteropServices.ComTypes
@using DtoModel;
@model dynamic



<div class="row">
    <div class="col-md-8">
        <div>
            <section class="section-white">
                <div class="container">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="http://wubearcats.com/bearcat_profiles/fincher_sarah.jpg" alt="...">
                                <div class="carousel-caption">  
                                </div>
                            </div>
                            <div class="item">
                                <img src="http://www.linabjorkskog.com/wp-content/uploads/2012/01/168ppolish-volleyball-players-800x400.jpeg" alt="...">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQm6btJV5sPjVMe2dFgpHkd0NZ-1oP4-4Rpt_Dltfx6PLMkidGZ" alt="...">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                </div>
            </section>

        </div>

        <div>@Html.Action("AboutIndex","HomePage")</div>
    </div>
    <div class="col-md-4">@Html.Action("NewsIdex","HomePage")</div>
</div>
