@model dynamic



<div class="row">
    <div class="col-md-8">
        <div>billeder</div>
        <div>Om Klubber</div>
    </div>
    <div class="col-md-4">Nyheder</div>
</div>
<div class="row">
    <div class="col-md-12">Kontakt Information</div>
</div>