@model DtoModel.ContactsDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactsDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>

        <dd>
           <div class="textArea">@Model.Contacts</div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
